.login__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
    background-color: var(--color-white);
}

.login__image {
    flex: 1.7;
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.login__imageImg {
    max-height: 50%;
    max-width: 50%;
    margin-left: 6rem;
}

.login__form {
    flex: 1;

    display: flex;
    padding-left: 200px;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.login__form__group {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.login__form__title {
    font-size: 3.4rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
    .login__image {
        flex: 1;
    }
    .login__imageImg {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    .login__container {
        flex-direction: column;
    }

    .login__image {
        order: -2;
        flex: 0.5;
    }

    .login__imageImg {
        margin-left: 0;
    }

    .login__form__group {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}